@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('./fonts/RobotoCondensed-Light.ttf');
}

* {
    font-family: 'RobotoCondensed-Light';
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    color: white;
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}